:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 255 105 180; /* neon pink */
  --oui-color-primary-light: 0 255 255; /* neon turquoise */
  --oui-color-primary-darken: 255 255 0; /* neon yellow */
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 87 146 255; /* sky blue */
  --oui-color-link-light: 173 216 255; /* light sky blue */

  --oui-color-secondary: 255 255 255; /* white */
  --oui-color-tertiary: 211 211 211; /* light gray */
  --oui-color-quaternary: 211 211 211; /* light gray */

  --oui-color-danger: 255 0 0; /* red, adjusted for visibility */
  --oui-color-danger-light: 250 128 128; /* light red */
  --oui-color-danger-darken: 139 0 0; /* dark red */
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 255 0; /* green, adjusted for visibility */
  --oui-color-success-light: 144 238 144; /* light green */
  --oui-color-success-darken: 0 139 0; /* dark green */
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 255 0; /* yellow */
  --oui-color-warning-light: 255 255 153; /* light yellow */
  --oui-color-warning-darken: 139 139 0; /* dark yellow */
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 0 0 0; /* black */
  --oui-color-fill-active: 25 25 25; /* dark gray */

  --oui-color-base-1: 45 45 45; /* dark gray */
  --oui-color-base-2: 35 35 35;
  --oui-color-base-3: 25 25 25;
  --oui-color-base-4: 20 20 20;
  --oui-color-base-5: 15 15 15;
  --oui-color-base-6: 10 10 10;
  --oui-color-base-7: 55 55 55; /* light gray, adjusted for scrollbar */
  --oui-color-base-8: 5 5 5;
  --oui-color-base-9: 3 3 3;
  --oui-color-base-10: 0 0 0; /* black */

  --oui-color-base-foreground: 255 255 255; /* white */
  --oui-color-line: 255 105 180; /* neon pink */

  --oui-color-trading-loss: 255 0 0; /* red */
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 255 0; /* green */
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 255 192 203; /* light pink */
  --oui-gradient-primary-end: 255 105 180; /* neon pink */

  --oui-gradient-secondary-start: 173 216 255; /* light sky blue */
  --oui-gradient-secondary-end: 87 146 255; /* sky blue */

  --oui-gradient-success-start: 144 238 144; /* light green */
  --oui-gradient-success-end: 0 255 0; /* green */

  --oui-gradient-danger-start: 250 128 128; /* light red */
  --oui-gradient-danger-end: 255 0 0; /* red */

  --oui-gradient-brand-start: 255 220 220; /* light pink */
  --oui-gradient-brand-end: 255 105 180; /* neon pink */
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 255 153; /* light yellow */
  --oui-gradient-warning-end: 255 255 0; /* yellow */

  --oui-gradient-neutral-start: 25 25 25; /* dark gray */
  --oui-gradient-neutral-end: 0 0 0; /* black */

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}